---
layout: default
---
{% if site.posts.size == 0 %}
  <h2>No post found =(</h2>
{% else %}
  {% for post in site.posts %}
    <div class="content list">
      <div class="list-item catalogue-item">
        <h2 class="list-post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="catalogue-line"></div>
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
        <p>
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endif %}
